# Learning Pandas Basics

***Importing the necessary libraries***

In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/retail-data-customer-summary-learn-pandas-basics/1_StudentsScore_output.xlsx
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/6_merge_df1.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/3_NEWS_Sales.xlsx
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/1_Sales.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/Retail_Data_Customers_Summary.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/5_Sales.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/6_concatenate_df2.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/1_Sales_output.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/6_merge_df2.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/6_concatenate_df1.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/6_concatenate_df3.csv
/kaggle/input/retail-data-customer-summary-learn-pandas-basics/1_StudentsScore.xlsx

In [2]:
filepath = "../input/retail-data-customer-summary-learn-pandas-basics/1_Sales.csv"
df = pd.read_csv(filepath)

In [3]:
df.head()

  SalesRep Region Month    Sales  Units Sold
0      Amy  North   Jan  23040.0       239.0
1      Amy  North   Feb  24131.0        79.0
2      Amy  North   Mar  24646.0        71.0
3      Amy  North   Apr  22047.0        71.0
4      Amy  North   May  24971.0         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SalesRep    48 non-null     object
 1   Region      48 non-null     object
 2   Month       48 non-null     object
 3   Sales       47 non-null     float64
 4   Units Sold  47 non-null     float64
dtypes: float64(2), object(3)
memory usage: 2.0+ KB

In [5]:
df.describe()

              Sales  Units Sold
count     47.000000   47.000000
mean   24209.425532  206.617021
std     2671.207948  204.332269
min    19625.000000   68.000000
25%    22348.500000   86.500000
50%    24218.000000  114.000000
75%    25742.000000  227.000000
max    29953.000000  852.000000

In [6]:
df.isnull().sum()

SalesRep      0
Region        0
Month         0
Sales         1
Units Sold    1
dtype: int64

In [7]:
sales_mean = df.Sales.mean()
Units_sold_mean = df["Units Sold"].mean()

df['Sales'].fillna(value = sales_mean, inplace = True)
df['Units Sold'].fillna(value = Units_sold_mean, inplace = True)

print("DataFrame updated by filling null values")

DataFrame updated by filling null values

In [8]:
df

   SalesRep Region Month         Sales  Units Sold
0       Amy  North   Jan  23040.000000  239.000000
1       Amy  North   Feb  24131.000000   79.000000
2       Amy  North   Mar  24646.000000   71.000000
3       Amy  North   Apr  22047.000000   71.000000
4       Amy  North   May  24971.000000  206.617021
5       Amy  North   Jun  24218.000000   92.000000
6       Amy  North   Jul  25735.000000  175.000000
7       Amy  North   Aug  24209.425532   87.000000
8       Amy  North   Sep  25749.000000  557.000000
9       Amy  North   Oct  24437.000000   95.000000
10      Amy  North   Nov  25355.000000  706.000000
11      Amy  North   Dec  25899.000000  180.000000
12      Bob  North   Jan  20024.000000  103.000000
13      Bob  North   Feb  23822.000000  267.000000
14      Bob  North   Mar  24854.000000   96.000000
15      Bob  North   Apr  22838.000000   74.000000
16      Bob  North   May  25320.000000  231.000000
17      Bob  North   Jun  24733.000000  164.000000
18      Bob  North   Jul  21184.000000   68.000000
19      Bob  North   Aug  23174.000000  114.000000
20      Bob  North   Sep  25999.000000   84.000000
21      Bob  North   Oct  22639.000000  260.000000
22      Bob  North   Nov  23949.000000  109.000000
23      Bob  North   Dec  23179.000000  465.000000
24    Chuck  South   Jan  19886.000000   95.000000
25    Chuck  South   Feb  23494.000000  148.000000
26    Chuck  South   Mar  21824.000000   83.000000
27    Chuck  South   Apr  22058.000000   96.000000
28    Chuck  South   May  20280.000000  453.000000
29    Chuck  South   Jun  23965.000000  760.000000
30    Chuck  South   Jul  23032.000000  155.000000
31    Chuck  South   Aug  21273.000000  769.000000
32    Chuck  South   Sep  21584.000000  114.000000
33    Chuck  South   Oct  19625.000000   83.000000
34    Chuck  South   Nov  19832.000000   70.000000
35    Chuck  South   Dec  20583.000000  178.000000
36     Doug  South   Jan  26264.000000   92.000000
37     Doug  South   Feb  29953.000000  852.000000
38     Doug  South   Mar  25041.000000   86.000000
39     Doug  South   Apr  29338.000000  223.000000
40     Doug  South   May  25150.000000  242.000000
41     Doug  South   Jun  27371.000000   95.000000
42     Doug  South   Jul  25044.000000   82.000000
43     Doug  South   Aug  29506.000000  103.000000
44     Doug  South   Sep  29061.000000  146.000000
45     Doug  South   Oct  27113.000000  120.000000
46     Doug  South   Nov  25953.000000   81.000000
47     Doug  South   Dec  28670.000000  198.000000